
@import "header.css";

* {
  box-sizing: border-box;
  color: inherit;
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: top;
}

html {
  background: #eee;
  font-family: "Roboto Condensed", "Roboto", sans-serif;
  color: #444;
  padding: 0 5px;
  font-size: 90%;
  border-top: 3px solid #b00;
}

body {
  width: 100%;
  padding: 0 1em;
}

#update-list {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  margin: 1.2em;
  padding: 1em;
}

#update-list:hover {
  text-decoration: underline;
  cursor: pointer;
}

#redirect-list {
  transition: opacity 0.2s ease;
}

html.updating #redirect-list {
  opacity: 0.3;
}

#redirect-list li {
  border-bottom: 1px solid #ddd;
  list-style-type: none;
  padding: 0.3em 0;
}

#redirect-list li span {
  padding: 0 1em;
  display: inline-block;
}

#redirect-list li .name {
  width: 20%;
}

#redirect-list li .matches {
  width: 40%;
}

#redirect-list li#header {
  border-bottom: 2px solid #aaa;
  padding: 1em 0;
  margin-bottom: 0.3em;
}

#redirect-list li#header span {
  font-weight: bold;
}

#redirect-list .item .name {
  color: #384;
  font-weight: bold;
}

#redirect-list .item .name,
#redirect-list .item .matches,
#redirect-list .item .replace {
  font-family: monoOne, monospace;
}