
/* #e63 */

* {
    color: inherit;
    font-family: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: bottom;
    user-select: none;
}

html {
    background: transparent url(../images/background.png) repeat;
    font-family: "Roboto", sans-serif;
    color: #666;
    padding: 5px;
    width: 20em;
    text-shadow: 0 1px #fff;
    font-size: 90%;
}

html.blocked {
    background-color: #a64;
}

html.allowed {
    background-color: #4a6;
}

#block-types li {
    display: block;
    list-style-type: none;
    border-radius: 2px;
    padding: 5px 20px;
    position: relative;
    height: 20px;
}

#block-types li:hover {
    background-color: rgba(0,0,0,0.05);
    cursor: pointer;
}

#block-types li+li {
    border-top: 1px dashed rgba(0,0,0,0.25);
}

.url {
    color: #444;
}

html.blocked .mode {
    color: #a64;
}

html.allowed .mode {
    color: #4a6;
}

