
@import "header.css";

* {
    color: inherit;
    font-family: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: bottom;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

html {
    background: #eee;
    font-family: "Roboto Condensed", "Roboto", sans-serif;
    color: #444;
    padding: 0 5px;
    font-size: 90%;
    border-top: 3px solid #b00;
}

body {
    width: 50%;
    margin: 0 auto;
}